<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation targetFramework="4.0" debug="true"/>
    <httpModules>
      <remove name="CrmAuthentication"/>
      <remove name="MapOrg"/>
      <remove name="CrmFederatedAuthenticationModule"/>
      <remove name="CrmSessionAuthenticationManager"/>
    </httpModules>
  </system.web>

  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="jsonEndpointBehavior" crossDomainScriptAccessEnabled="true" />
        <binding name="Secure">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows"/>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="serviceBehavior" name="Intelbras.CRM2013.Aplication.CRM.WCF.Service">

        <endpoint address="" name="json" binding="webHttpBinding" behaviorConfiguration="jsonEndpointBehavior" contract="Intelbras.CRM2013.Aplication.CRM.WCF.IService"/>
        <endpoint address="mex" binding="mexHttpBinding" name="mex" contract="IMetadataExchange"/>
        <endpoint address="wsHttpBinding" behaviorConfiguration="wsHttpBinding" binding="wsHttpBinding" bindingConfiguration="" name="wsHttpBinding" contract="Intelbras.CRM2013.Aplication.CRM.WCF.IService">
          <identity>
            <dns value="localhost/wsHttpBinding"/>
          </identity>
        </endpoint>
      </service>
    </services>

    <behaviors>
      <endpointBehaviors>
        <behavior name="jsonEndpointBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="wsHttpBinding"/>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>

    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>