<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="Sellout.CaminhoWS" value="http://sjo-crm-dev-01:5554/ISV/sellout/SelloutWS2.asmx"/>
  </appSettings>
  <system.serviceModel>
    <client>
      <endpoint address="http://sjo-web-09:8088/" binding="basicHttpBinding" bindingConfiguration="ServiceReceiver_Web" contract="BarramentoWebService.IMessageReceiver" name="ServiceReceiver_Web"/>
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceReceiver_Web"/>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="ServiceReceiver_Tcp" transferMode="Streamed">
          <security mode="None"/>
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="ServiceReceiver_Ws">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None"/>
            <message clientCredentialType="Certificate"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>

  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
