<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="Sellout.CaminhoWS" value="http://sjo-crm-dev-01:5554/ISV/sellout/SelloutWS2.asmx"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.serviceModel>
    <client>
      <endpoint address="http://sjo-esb-01:8088" binding="basicHttpBinding" bindingConfiguration="ServiceReceiver_Web" contract="BarramentoWebService.IMessageReceiver" name="ServiceReceiver_Web"/>
      <endpoint address="https://crm2013h.intelbras.com.br:5554/ISV/wssellout/selloutws.asmx" binding="basicHttpBinding" bindingConfiguration="SelloutWSSoap" contract="SellOutWebService.SelloutWSSoap" name="SelloutWSSoap"/>
      <endpoint address="http://sjo-crm-test-02:5554/ISV/Intelbras/WebServices/IntegracaoCrm2013/ConsultaCRM4.asmx" binding="basicHttpBinding" bindingConfiguration="ConsultaCRM4Soap" contract="WsCrm4.ConsultaCRM4Soap" name="ConsultaCRM4Soap"/>
      <endpoint address="https://crm2015h.intelbras.com.br/isv/intelbras/webservices/vendas/isolservice.asmx" binding="basicHttpBinding" bindingConfiguration="IsolServiceSoap" contract="IsolService.IsolServiceSoap" name="IsolServiceSoap"/>
	  <endpoint address="https://crm2015h.intelbras.com.br/ISV/Intelbras/WebServices/PortalB2BEMS/NotaFiscal.asmx" binding="basicHttpBinding" bindingConfiguration="NotaFiscalSoap" contract="PortalB2BNotaFiscal.NotaFiscalSoap" name="NotaFiscalSoap"/>
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceReceiver_Web"/>
        <binding name="SelloutWSSoap">
          <security mode="Transport"/>
        </binding>
        <binding name="SelloutWSSoap1"/>
        <binding name="ConsultaCRM4Soap"/>
		<binding name="NotaFiscalSoap">
			<security mode="Transport"/>
		</binding>
		<binding name="NotaFiscalSoap1"/>
        <binding name="IsolServiceSoap">
          <security mode="Transport"/>
        </binding>
        <binding name="IsolServiceSoap1"/>
      </basicHttpBinding>
      <customBinding>
        <binding name="IsolServiceSoap12">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpsTransport/>
        </binding>
      </customBinding>
      <netTcpBinding>
        <binding name="ServiceReceiver_Tcp" transferMode="Streamed">
          <security mode="None"/>
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="ServiceReceiver_Ws">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None"/>
            <message clientCredentialType="Certificate"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
