<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Intelbras.CRM2013.Domain.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>    
  </configSections>
    <appSettings>
    <add key="Sellout.CaminhoWS" value="http://sjo-crm-dev-01:5554/ISV/sellout/SelloutWS.asmx"/>
  </appSettings>
  <system.serviceModel>
    <client>
      <endpoint address="http://esbdev.intelbras.com.br:8080/" binding="basicHttpBinding" bindingConfiguration="ServiceReceiver_Web" contract="BarramentoWebService.IMessageReceiver" name="ServiceReceiver_Web"/>
      <endpoint address="https://esbdev.intelbras.com.br/" binding="wsHttpBinding" bindingConfiguration="ServiceReceiver_Https" contract="BarramentoWebService.IMessageReceiver" name="ServiceReceiver_Https"/>
      <endpoint address="net.tcp://sjo-esb-03.intelbras.local:8089/" binding="netTcpBinding" bindingConfiguration="ServiceReceiver_Tcp" contract="BarramentoWebService.IMessageReceiver" name="ServiceReceiver_Tcp"/>
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceReceiver_Web"/>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="ServiceReceiver_Tcp" transferMode="Streamed">
          <security mode="None"/>
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="ServiceReceiver_Https">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>

  </system.serviceModel>
  <applicationSettings>
    <Intelbras.CRM2013.Domain.Properties.Settings>
      <setting name="Intelbras_CRM2013_Domain_TabelaPrecoExtranet_SellOutServiceService" serializeAs="String">
      </setting>
      <setting name="Intelbras_CRM2013_Domain_WsCrm4Web_ConsultaCRM4" serializeAs="String">
        <value>http://sjo-crm-test-02:5554/ISV/Intelbras/WebServices/IntegracaoCrm2013/ConsultaCRM4.asmx</value>
      </setting>
      <setting name="Intelbras_CRM2013_Domain_TabelaPrecoExtranet_SellOutServiceService" serializeAs="String">
        <value>http://10.1.11.75:8080/sellout</value>
      </setting>
      <setting name="Intelbras_CRM2013_Domain_br_com_intelbras_sp2013dev_Lists" serializeAs="String">
        <value>https://sp2013dev.intelbras.com.br/_vti_bin/Lists.asmx</value>
      </setting>
      <setting name="Intelbras_CRM2013_Domain_Sellout_SellOutCRMWS" serializeAs="String">
        <value>http://crm2013d.intelbras.com.br:5554/ISV/wssellout/selloutcrmws.asmx</value>
      </setting>
      <setting name="Intelbras_CRM2013_Domain_IntelbrasService_integracaoERPService" serializeAs="String">
        <value>http://wsa.intelbras.com.br:8080/wsa2/wsa2</value>
      </setting>
      <setting name="Intelbras_CRM2013_Domain_SharepointWebService_integracaoSPService" serializeAs="String">
        <value>http://wsa.intelbras.com.br:8080/wsa2/wsa2</value>
      </setting>
      <setting name="Intelbras_CRM2013_Domain_WalMart_Service_ParceiroIntegracao" serializeAs="String">
        <value>https://api.walmartb2b.com.br/v1.0.14/ParceiroIntegracao.asmx</value>
      </setting>
    </Intelbras.CRM2013.Domain.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>
  <userSettings>
    <Intelbras.CRM2013.Application.AtualizarAtendimentoChat.Settings>
      <setting name="App" serializeAs="String">
        <value>C:\TrideaByAlfa\AtualizarAtendimentoChat</value>
      </setting>
      <setting name="Log" serializeAs="String">
        <value>C:\TrideaByAlfa\AtualizarAtendimentoChat\Log</value>
      </setting>
      <setting name="HabilitarLog" serializeAs="String">
        <value>True</value>
      </setting>
    </Intelbras.CRM2013.Application.AtualizarAtendimentoChat.Settings>
  </userSettings>
</configuration>