<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <customErrors mode="Off"/>
    <pages enableSessionState="true" validateRequest="false" enableViewState="true" />
    <httpModules>
      <remove name ="CrmAuthentication"/>
      <remove name ="MapOrg"/>
      <remove name ="CrmFederatedAuthenticationModule"/>
      <remove name ="CrmSessionAuthenticationManager"/>
    </httpModules>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

</configuration>
